---
layout: midwest-page
title: Sponsors
weight: 35
---

<h1>
  Our Awesome Sponsors
  <a class="ui right floated large button" href="/prospectus.pdf">
    Download Prospectus
  </a>
</h1>
<div class="ui segments">
  <div class="ui segment items">
    <h2 class="faded">HEAD (videography) Sponsor</h2>
    {% include sponsorship-item.html event="midwest" level="HEAD" %}
  </div>
  <!--div class="ui segment items">
    <h2 class="ui two column grid faded">
    <div class="column">OPTIONS</div>
    </h2>
    <div class="ui item">
    </div>
    </div-->
    <!--div class="ui segment items">
      <h2 class="faded">PATCH (shirts!)</h2>
      {% include sponsorship-item.html event="midwest" level="PATCH" %}
      </div-->
      <div class="ui segment items">
        <h2 class="ui header faded">POST</h2>
        <div class="ui top aligned smedium images">
          {% include sponsorship-image.html event="midwest" level="POST" %}
        </div>
      </div>
      <div class="ui segment items">
        <h2 class="ui two column grid faded">
          <div class="column">PUT</div>
        </h2>
        <div class="ui item">
          {% include sponsorship-image.html event="midwest" level="PUT" %}
        </div>
      </div>
      <div class="ui segment items">
        <h2 class="ui two column grid faded" id="friends">
          <div class="column">GET</div>
        </h2>
        {% include sponsor-avatars.html event="midwest" level="GET" %}
      </div>
      <div class="ui segment items">
        <h2 class="ui two column grid">
          <div class="column faded">rel="friend"</div>
          <div class="right aligned column">
            <tito-button event="rest-fest/2018-midwest" class="ui button">Add it with your registration!</tito-button>
          </div>
        </h2>
        <div class="ui item">
          <div class="content">
            {% include sponsor-avatars.html event="midwest" level="rel_friend" %}
          </div>
        </div>
      </div>
      </div>
