<div class="ui vertical stripe segment">
    <div class="ui stackable grid container">
        <div class="row">
            <div class="six wide column">
                <h1 class="ui header">About REST Fest</h1>
                <p>Our objective is to give people interested in <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST</a>, <a href="http://en.wikipedia.org/wiki/HATEOAS">Hypermedia APIs</a>, crafting web service APIs, or any related topics a chance to get together in an informal setting to  share ideas, trade  stories, and show examples of current work.</p>
            </div>
            <div class="eight wide right floated column">
              <div class="embed-container">
                <iframe src="https://player.vimeo.com/video/248939007" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
