---
layout: east-page
title: Speakers
weight: 25
---

<h1 id="speakers">Speakers | <a href="schedule">Schedule</a></h1>

<p>Everyone who comes speaks. Here's some of this year's fabulous speakers! Want your name on the list? <a href="https://ti.to/rest-fest/rest-fest-east-2018">Join us!</a></p>

<div class="ui grid">
  {% assign speakers = site.data.east.speakers | reverse %}
  {% for speaker in speakers %}
  <div class="four wide center aligned column">
    {% if speaker.screen_name %}
    <a href="https://twitter.com/{{ speaker.screen_name }}" target="_blank">
      <img class="ui tiny avatar image" src="{{ speaker.profile_image_url }}" alt="{{ speaker.name }}" />
    </a>
    <div class="content">
      <div class="header">{{ speaker.name }}</div>
      <a href="https://twitter.com/{{ speaker.screen_name }}" target="_blank">{{ speaker.screen_name }}</a>
    </div>
    {% else %}
    <a href="https://github.com/{{ speaker.github_username }}" target="_blank">
      <img class="ui tiny avatar image" src="{{ speaker.profile_image_url }}" alt="{{ speaker.name }}" />
    </a>
    <div class="content">
      <div class="header">{{ speaker.name }}</div>
      <a href="https://github.com/{{ speaker.github_username }}" target="_blank">{{ speaker.github_username }}</a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
