---
layout: east-page
title: Sponsors
weight: 35
---

<h1>
  Our Awesome Sponsors
  <a class="ui right floated large button" href="/prospectus.pdf">
    Download Prospectus
  </a>
</h1>
<div class="ui segments">
  <div class="ui segment items">
    <h2 class="faded">HEAD (videography) Sponsor</h2>
    {% include sponsorship-item.html event="east" level="HEAD" %}
  </div>
  <div class="ui segment items">
    <h2 class="ui header faded">POST</h2>
    <div class="ui top aligned medium images">
      {% include sponsorship-image.html event="east" level="POST" %}
    </div>
  </div>
  <div class="ui segment items">
    <h2 class="ui header faded">PATCH</h2>
    <div class="ui top aligned medium images">
      {% include sponsorship-image.html event="east" level="PATCH" %}
    </div>
  </div>
  <div class="ui segment items">
    <h2 class="ui two column grid faded">
      <div class="column">PUT</div>
    </h2>
    <div class="ui top aligned smedium images">
      {% include sponsorship-image.html event="east" level="PUT" %}
    </div>
  </div>
  <div class="ui segment items">
    <h2 class="ui two column grid faded">
      <div class="column">GET</div>
    </h2>
    <div class="ui middle aligned small images">
      {% include sponsorship-image.html event="east" level="GET" %}
    </div>
  </div>
  <div class="ui segment items">
    <h2 class="ui two column grid" id="friends">
      <div class="column faded">rel="friend"</div>
      <div class="right aligned column">
        <a href="https://www.patreon.com/bePatron?u=18221469" data-patreon-widget-type="become-patron-button">Become our rel="friend"!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
      </div>
    </h2>
    <div class="ui item">
      <div class="content">
        {% include sponsor-avatars.html event="rel_friend" level="rel_friend" %}

        <div class="ui relaxed horizontal selection list">
          <a class="item" rel="friend" href="https://pileworx.io/" target="_blank">

            <img class="ui avatar image" src="/images/pileworx.png" alt="Pileworx">

            <span class="content">
              <span class="ui tiny blue header">Pileworx</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
