---
layout: eu-page
title: Sponsors
weight: 35
---

<h1>
  Our Awesome Sponsors
  <!--<a class="ui right floated large button" href="/prospectus.pdf">
    Download Prospectus
  </a>-->
</h1>
<div class="ui segments">
  <div class="ui segment items">
    <h2 class="faded">HEAD (videography) Sponsor</h2>
    {% include sponsorship-item.html event="eu" level="HEAD" %}
  </div>
  <!--div class="ui segment items">
    <h2 class="ui two column grid faded">
    <div class="column">OPTIONS</div>
    </h2>
    <div class="ui item">
    </div>
    </div-->
    <!--div class="ui segment items">
      <h2 class="faded">PATCH (shirts!)</h2>
      {% include sponsorship-item.html event="eu" level="PATCH" %}
      </div-->
      <div class="ui segment items">
        <h2 class="ui header faded">POST</h2>
        <div class="ui top aligned smedium images">
          {% include sponsorship-image.html event="eu" level="POST" %}
        </div>
      </div>
      <div class="ui segment items">
        <h2 class="ui two column grid faded">
          <div class="column">PUT</div>
        </h2>
        <div class="ui item">
          {% include sponsorship-image.html event="eu" level="PUT" %}
        </div>
      </div>
      <div class="ui segment items">
        <h2 class="ui two column grid faded" id="friends">
          <div class="column">GET</div>
        </h2>
        {% include sponsor-avatars.html event="eu" level="GET" %}
      </div>
      <div class="ui segment items">
        <h2 class="ui two column grid">
          <div class="column faded">rel="friend"</div>
          <div class="right aligned column">
            <a href="https://www.patreon.com/bePatron?u=18221469" data-patreon-widget-type="become-patron-button">Become our rel="friend"!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
          </div>
        </h2>
        <div class="ui item">
          <div class="content">
            {% include sponsor-avatars.html event="eu" level="rel_friend" %}
          </div>
        </div>
      </div>
      </div>
